{% extends 'base.html' %}

{% block title %}
게시글 내용
{% endblock %}

{% block content %}
    <h1>주식매매일지</h1>
    {% include  'posts/post_card.html' %}
    <button><a href="{% url 'posts:list' %}">주식매매일지 목록보기 </a></button>
    <button><a href="{% url 'posts:update' post.id %}">수정하기 </a></button>
    <button><a href="{% url 'posts:delete' post.id %}">삭제하기 </a></button>
    <hr>
   
    <form action="{% url 'posts:comment_create' post.id %}" method="POST">
    {% csrf_token %}
    <input type="text" name="content">
    <input type="submit" value="댓글작성하기">
    </form>
    {% for comment in comment_list %}
    <p>{{ comment.content }} | {{ comment.created_at }}</p>
    {% empty %}
    <p>댓글이 없습니다.</p>
    {% endfor %}
{% endblock %}