{% extends 'base.html' %}
{% block title %}
Ranking
{% endblock %}

<hr>

{% block content %}
<h1>주식 랭킹</h1>
<table  id="table_id" class="display">
    <thead>
    <tr>
        <th>Rank</th>
        <th>종목명</th>
        <th>섹터</th>
        <th>시가총액($)</th>
        <th>주가($)</th>
        <th>매출($)</th>
        <th>매출총이익($)</th>
        <th>순이익($)</th>
        <th>영업현금흐름($)</th>
        <th>PBR</th>
        <th>배당율(%)</th>
        <th>직원수</th>
        <th>국가</th>
    </tr>
    </thead>


    {% for company in rank_page %}
    <tbody>
    <tr> 
        <td>{{ company.id}}</td>   
        <td onclick="location.href= '{% url 'stockrankings:search' %}';" style="cursor:pointer;"><h5>{{ company.companyname }}</h5>{{ company.ticker }} </td>
        <td>{{ company.sector }}</td>
        <td>{{ company.marketCap}} {{company.currency}}</td>
        <td>{{ company.price}} {{company.currency}}</td>
        <td>{{ company.totalRevenue }}</td>
        <td>{{ company.grossprofit }}</td>
        <td>{{ company.netIncomeToCommon }}</td>
        <td>{{ company.operatingCashflow}}</td>
        <td>{{ company.priceToBook}}</td>
        <td>{{ company.dividendyield}}</td>
        <td>{{ company.employee}}</td>
        <td>{{ company.country}} </td>
    </tr>
    </tbody>
    {% endfor %}
</table>

<br><br><br>

<div class="pagination">
    <span class="step-links">
        {% if rank_page.has_previous %}
            <a href="?page=1">first</a>
            <a href="?page={{ rank_page.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ rank_page.number }} of {{ rank_page.paginator.num_pages }}.
        </span>

        {% if rank_page.has_next %}
            <a href="?page={{ rank_page.next_page_number }}">next</a>
            <a href="?page={{ rank_page.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}