{% extends 'base.html' %}
{% block title %}
TESTTEST
{% endblock %}


{% load static %}
{% block content %}

<table id="rank" class="table table-striped table-hover" align="center">
    <thead>
    <tr>
        <th>Rank</th>
        <th>티커명</th>
        <th>주가</th>
    </tr>
    </thead>

    <tbody>
    {% comment %} {% for company in stockrank_all %}
        <tr>
            <td>{{ forloop.counter}}</td>
            <td id="ticker">{{ company.ticker }}</td>>
            <td id="price">{{ company.price}}</td>
        </tr>
    {% endfor %} {% endcomment %}
    <td>1</td>
    <td id="ticker">AAPL</td>
    <td></td>
    </tbody>

</table>

<br><br><br>


{% endblock %}