{% extends 'base.html' %} {% load static %} {% block content %}
<a href="{% url 'stockrankings:ranking' %}">Stock Ranking</a>
<br />
<a href="{% url 'stockrankings:tenbaggers' %}">10 baggers</a>
<br />
<a href="{% url 'posts:list' %}">Notice</a>
<br />
<a href="{% url 'photolog:list' %}">Instockgram</a>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
  crossorigin="anonymous"
></script>
{% endblock %}
